[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mplfinance = "*"
yfinance = "*"
python-dotenv = "*"
alpaca-trade-api = "*"
pandas-datareader = "*"
ta = "*"
backtrader = {extras = ["plotting"], version = "*"}
matplotlib = "==3.2.2"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
