[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mplfinance = "*"
yfinance = "*"
python-dotenv = "*"
alpaca-trade-api = "*"
pandas-datareader = "*"
ta = "*"
backtrader = {extras = ["plotting"], version = "*"}
matplotlib = "==3.2.2"
pyfolio = "*"
ipykernel = "*"
requests = "*"
yahoo-fin = "*"
ibapi = "*"

[dev-packages]
websockets = ">=9.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
